<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{{metaDescription|default('Rather than viewing a static 2D picture, you can now choose an interactive 3D depiction from a database of thousands of molecules. Most importantly, PQR makes it easy for researchers and educators to share data with their audience.') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Apple Web App--> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="PQR">
    <!--Apple Web App--> 

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons -->

    <link rel="stylesheet" type="text/css" href="/static/css/pqr.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700">

    {% endblock %}

    <!-- Google Analytics -->
    <!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58700553-1', 'auto');
    ga('send', 'pageview');

    </script> -->
    <!-- End Google Analytics -->

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-58700553-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    {% block header %} {% endblock %}
    
    <!-- Container for feedback messages-->
    <div id="feedback-messages" class='container'> 

    </div>

    <div class='notifications top-right'> 

    </div>


    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- -->
    {% if messages %}
    <div id="alerts" class="container">
        {% for category, message in messages %} 
            {% if category == 'redirect' %} 
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-sign-in"></i> {{ message }}
            </div>
            {% elif category == 'sent' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-paper-plane"></i> Your messsage was sent!
            </div>

            {% elif category == 'error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% elif category == 404 %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-cogs"></i> <samp>404 Page Not Found.</samp> You have been redirected to the home page. 
            </div>
            {% elif category == 500 %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong> <i class="fa fa-cogs"></i> <pre>500 Internal Sever Error.</pre> You have been redirected to the home page. </strong>
            </div>
            {% endif %} 
            
        {% endfor %}
    </div>
    <div class='clearfix'> &nbsp;</div>
    {% endif %}
    <!-- -->
    {% endwith %}
    <div id="main" class="container-fluid {{page.id}}">
        <!--Display Error Messages -->
        {% block content %}{% endblock %}
    </div>
    {% block footer %} {% endblock %}
    <!-- SOME SCRIPTS (MODIFY HOW THIS WORKS LATER) -->
    {% block lazyScripts %}
    <!-- Contains all of the files -->
    <script async src="/static/js/pqr.min.js"></script>
    {% endblock %}
    <!-- SOME SCRIPTS (MODIFY HOW THIS WORKS LATER) -->
</body>

</html>
