<footer>
  <div class="container">
  <div class="row"> 
    <div class="col-sm-8"> 
      <div> 
        <span class="footer-brand">PQR</span> 

        <ul class="list-unstyled list-inline footer-map">
          <li class='hidden'><a href="#">About</a></li>
          <li class='hidden'><a href="#">News</a></li>
          <li class='hidden'><a href="#">Search</a></li>
        </ul>

        <p class="font-light" id="copyright"> Copyright © 2015 Pittsburgh Quantum Repository</p>
      </div>
    </div>

    <div class="col-sm-4">
        <ul class="list-unstyled list-inline text-center footer-social">
          <li> <a href="https://www.facebook.com/PittChemDepartment" target="_blank"><i class="fa fa-facebook" ></i></a> </li>
          <li> <a href="https://github.com/pittquantum/backend" target="_blank"><i class="fa fa-github"></i></a> </li>
          <li> <a href="https://foursquare.com/v/university-of-pittsburgh-department-of-chemistry/510ff4abe8890fa33e4e211a" target="_blank"><i class="fa fa-foursquare"></i></a> </li>
        </ul>

    </div>

  </div>

  </div>
</footer>
