<footer>
	<div class="container-fluid ">


		<div class="row">
			<div class="col-md-3">
				<h3> Credits: </h3>
				<p>
					Hutchison group at the University of Pittsburgh<br/>
					Lambrecht group at the University of Pittsburgh<br/>
				 </p>
				<p> Application created by <a href="http://joshuarogan.com" target="_blank">Josh Rogan</a> &amp; <a href="http://ritwikgupta.me"> Ritwik Gupta </a></p>

				<p>We acknowledge financial support via a special grant from the Dreyfus Foundation and an ACIE teaching award from the University of Pittsburgh, as well as financial support from the <a href="http://www.asundergrad.pitt.edu/" target="_blank">Dietrich School of Arts and Sciences</a> and <a href="http://www.chem.pitt.edu/" target="_blank">Department of Chemistry</a>.</p>
				<p>Copyright © 2015</p>
			</div>

			<div class="col-md-6">
				<h3> About Us </h3>
				<p> Welcome to the Pittsburgh Quantum Repository (PQR), a database of molecular quantum properties. Search for molecules by name or browse by categories to obtain a 3D view, thermodynamic and physical properties. Conveniently link to molecular visualizations from lectures and lab courses via QR codes.</p>


				<h4>Contact Us</h4>
				<ul class="list-unstyled">
					<li> Street Address </lid>
					<li> Pittsburgh, PA 15261 </li>
					<li> 412-624-8912 </li>
				</ul>



			</div>

			<div class="col-md-3">
				<h3> Report a Problem </h3>
				<p> Found a problem? <a href="https://github.com/pittquantum/backend/issues">Report it here!</a> </p>
				<img class="img-responsive right-block" alt="footer-logo" src="/static/img/footer-logo.png" width="80px">
			</div>

		</div>

		<div class="row">
			<ul class="list-unstyled list-inline text-center">
					<li> <a href="https://www.facebook.com/PittChemDepartment" target="_blank"><i class="fa fa-facebook fa-lg" ></i></a> </li>
					<!-- <li> <a href="#" target="_blank"><i class="fa fa-twitter fa-lg" ></i></a> </li> -->
					<li> <a href="https://github.com/pittquantum/backend" target="_blank"><i class="fa fa-github fa-lg"></i></a> </li>
					<!-- <li> <a href="#" target="_blank"><i class="fa fa-youtube fa-lg"></i></a> </li> -->
					<!-- <li> <a href="#" target="_blank"><i class="fa fa-flickr fa-lg"></i></a> </li> -->
			</ul>

			<ul class="list-inline text-center">
				<!-- <li><a href="/home">Home</a></li> -->
				<!-- <li><a href="/browse">Browse</a></li> -->
				<!-- <li><a href="/news">News</a></li> -->
				<!-- <li><a href="/acknowledgments">Acknowledgments</a></li> -->
			</ul>
		</div>
	</div>
</footer>