<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">
          <img src="/static/img/LogoV0_1.png" height="40px" alt='logo'>
        </a>
        <a class="navbar-brand hidden-sm hidden-xs" href="/home">Pitt Quantum Repository</a>
        <a class="navbar-brand visible-sm visible-xs" href="/home">PQR</a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <!-- Search for molecules -->
        <form class="navbar-form navbar-right" role="search">
          <div class="input-group">
            <input type="text" id="header-molecule-search" class="form-control typeahead" autocomplete="off" placeholder="Molecule Search">
            <span class="input-group-btn">
              <button class="btn btn-primary molecule-query" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        <!-- Search for molecules -->

        <ul class="nav navbar-nav">
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary navbar-btn" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Decrease overall font size" id="reducefont"><i class="fa fa-font"></i> <i class="fa fa-arrow-down"></i></button>
              <button type="button" class="btn btn-primary navbar-btn" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Increase overall font size" id="increasefont"><i class="fa fa-font"></i> <i class="fa fa-arrow-up"></i></button>
              <button type="button" class="btn btn-primary navbar-btn" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Revert to the default font size" id="defaultfont"><i class="fa fa-undo"></i></button>
            </div>
          </li>


        </ul>


      </div>
    </div>
  </nav>
</header>
