<footer>
  <div class="container">
  <div class="row"> 
    <div class="col-sm-8"> 
      <div> 
        <span class="footer-brand">PQR</span> 

        <ul class="list-unstyled list-inline footer-map">
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/news/2015-07-04-acknowledgments/">About Us</a></li>
          <li class='hidden'><a href="#">Search</a></li>
        </ul>

        <p class="font-light" id="copyright"> Copyright © 2015 <a href="//www.pitt.edu/">University of Pittsburgh</a> <a href="http://www.chem.pitt.edu/">Department of Chemistry</a><br/>
        Made available under the <a href="/news/2015-07-01-open-data/">Open Database License</a>.<br/>
        <a href="#" onclick="reportClick()" target="_blank" id="report">Report Missing Molecule Data</a>
        </p>
      </div>
    </div>

    <div class="col-sm-4">
        <ul class="list-unstyled list-inline text-center footer-social">
          <li> <a href="https://www.facebook.com/PittChemDepartment" target="_blank" title="Social Media Facebook"><i class="fa fa-facebook" ></i></a> </li>
          <li> <a href="https://github.com/pittquantum/backend" target="_blank" title="View Our Github Repo"><i class="fa fa-github"></i></a> </li>
          <li> <a href="https://foursquare.com/v/university-of-pittsburgh-department-of-chemistry/510ff4abe8890fa33e4e211a" target="_blank" title="Visit us on Foursquare"><i class="fa fa-foursquare"></i></a> </li>
        </ul>

    </div>

  </div>

  </div>
  <script>
    function reportClick(){
      var mol = window.location.pathname.split("/")[2];
      var pathToGo = "https://github.com/pittquantum/PittQuantumRepository/issues/new?title=Missing Molecule Data for Molecule &body=" + mol.toString();
      var win = window.open(pathToGo, '_blank');
      win.focus();
      return false;
    }
  </script>
</footer>
