<!-- View of a molecule in search results or browsing   -->
{% macro simpleViewer(mol2='RY/RYYVLZVUVIJVGH-UHFFFAOYSA-N.mol2', style='stick') -%}
<div class='viewer_3Dmoljs' data-href='/static/data/mol2/{{mol2}}' data-type='mol2' data-backgroundcolor='0xffffff' data-style='{{style}}'>
</div>
{%- endmacro %}

<!-- View of a molecule in search results or browsing   -->
{% macro resultMolecule(data, style='stick') -%}
<div class="molecule-viwer row">
  <div class="col-md-4" class="">
    <div class='viewer_3Dmoljs' data-href='/static/data/mol2/{{data.mol2url}}.mol2' data-type='mol2' data-backgroundcolor='0xffffff' data-style='{{style}}'></div>
  </div>

  <div class="col-md-8 properties">
    <h3><a href="/mol/{{data.inchikey}}" target="_blank">{{data.name|title}}</a>
      <span class="pull-right">
        <a href="#" data-toggle="modal" data-target="#qrcodemodal"> <i class="fa fa-qrcode hidden"></i> </a>
      </span>
    </h3>
    <!-- Table for all of the properties -->
    <div class="molecule-formula">
      {{data.formula|subnumbers|safe}}
    </div>
  </div>

</div>
{%- endmacro %}

<!-- Main view of a molecule -->
{% macro moleculeMainView(mol2, jsonDict, style='stick') -%}
<div class="molecule row">

  <!-- Molecule name as h1 for SEO-->
  <h1 id="molecule-name">
    <a class="visible-xs-inline" href="#" data-toggle="modal" data-target="#qrcodemodal"><i class="fa fa-qrcode"></i></a> {{ jsonDict["name"].title() }}
  </h1>


  <!--This is where the canvas/img/js will be for the molecule viewer (Using an image for tempalte-->
  <div id="molecule-viewer" class="col-sm-12 col-md-7 col-md-push-5">
    <div class='viewer_3Dmoljs' data-href='/static/data/mol2/{{mol2}}' data-type='mol2' data-backgroundcolor='0xffffff' data-style='{{style}}'></div>

  </div>

  <section id="molecule-details">
    <div id="molecule-properties" class="col-sm-12 col-md-5 col-md-pull-7">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h2>Properties
            <span class='pull-right properties-view-options'> <a href="#" id="simpleView">Simple</a> | <a href="#" id="detailedView">Detailed</a></span>
          </h2>
        </div>

        <div class="panel-body">
          <p>Listed below are the properties for
            <strong>{{ jsonDict["name"].title() }}</strong>.</p>
        </div>

        <!-- Table for all of the properties -->
        <table class="table">
          <thead>

          </thead>

          <tbody>

            <tr class="molecule-formula">
              <td>Formula<sup><a href="#" data-container="body" data-toggle="tooltip" title="Chemical formula"><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["formula"]|subnumbers|safe}}</td>
            </tr>

            <tr class="molecule-iupac-name">
              <td>IUPAC Name<sup><a href="#" data-container="body" data-toggle="tooltip" title="The standard name of this molecule"><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["iupac_name"].title() }}</td>
            </tr>

            <tr class="molecule-molecular-mass">
              <td>Molecular Mass<sup><a href="#" data-container="body" data-toggle="tooltip" title="The mass of the molecule in g/mol"><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["molecular mass"] }} g·mol<sup>−1</sup></td>
            </tr>

            <tr class="molecule-heat-of-formation">
              <td>Heat of Formation<sup><a href="#" data-container="body" data-toggle="tooltip" title="Change of enthalpy from the formation of 1 mol of a compound from its elements at 1 atm."><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["pm7"]["heatOfFormation"] }} kJ·mol<sup>−1</sup></td>
            </tr>

            <tr class="molecule-dipole-movement">
              <td>Dipole Moment<sup><a href="#" data-container="body" data-toggle="tooltip" title="Measure of electric polarity of a system of charges."><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["pm7"]["dipoleMoment"] }} D</td>
            </tr>

            <tr class="molecule-doi">
              <td>D.O.I<sup><a href="#" data-container="body" data-toggle="tooltip" title="Digital Object Identifier"><i class="fa fa-question"></i></a></sup></td>
              <td><a href="#"> dx.doi.org/10.1234/pqr-mlfhjehsliiphl-uhfffaoysa-n</td>

							</tr>



							<!-- Begin Detailed Section -->

							<tr class="molecule-alt-names detailed">

								<td>Synonyms<sup><a href="#" data-container="body" data-toggle="tooltip" title="Alternate names for this substance"><i class="fa fa-question"></i></a></sup>
              </td>
              <td>
                <ul class="list-inline">
                  {% for i in jsonDict["synonyms"] %}
                  <li>{{ i }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>

            <tr class="molecule-cas-numbers detailed">
              <td>CAS Number(s)<sup><a href="#" data-container="body" data-toggle="tooltip" title="Chemical Abstracts Service registry number(s)"><i class="fa fa-question"></i></a></sup></td>
              <td>
                <ul class="list-inline">
                  {% if jsonDict["cas"] is string %}
                  <li>{{ jsonDict["cas"] }}</li>
                  {% else %} {% for i in jsonDict["cas"] %}
                  <li>{{ i }}</li>
                  {% endfor %} {% endif %}

                </ul>
              </td>
            </tr>

            <tr class="molecule-inchikey detailed">
              <td>InChIKey<sup><a href="#" data-container="body" data-toggle="tooltip" title="Standardized InChI with SHA-256"><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["inchikey"] }}</td>
            </tr>

            <tr class="molecule-pg-symmetry detailed">
              <td>Point Group Symmetry<sup><a href="#" data-container="body" data-toggle="tooltip" title="Group of geometric symmetries that keep one point fixed."><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["pointGroup"]|truncate(1, true, '') }}<sub>{{jsonDict["pointGroup"]|replace(jsonDict["pointGroup"]|truncate(1, true, ''), '') }}</sub>
              </td>
              <!--Will use JS to automatically add subscripts -->
            </tr>

            <tr class="molecule-volume detailed">
              <td>Volume<sup><a href="#" data-container="body" data-toggle="tooltip" title="Volume of a molecule."><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["pm7"]["volume"] }} &#8491;<sup>3</sup></td>
            </tr>

            <tr class="molecule-surface-area detailed">
              <td>Surface Area<sup><a href="#" data-container="body" data-toggle="tooltip" title="The total surface area of a molecule."><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["pm7"]["surfaceArea"] }} &#8491;<sup>2</sup></td>
            </tr>

            <tr class="molecule-homo-energy detailed">
              <td>Homo Energy<sup><a href="#" data-container="body" data-toggle="tooltip" title="Highest occupied molecular orbital energy"><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["pm7"]["homo"] }} eV</td>
            </tr>

            <tr class="molecule-lumo-energy detailed">
              <td>LUMO Energy<sup><a href="#" data-container="body" data-toggle="tooltip" title="Lowest unoccupied molecular orbital energy"><i class="fa fa-question"></i></a></sup></td>
              <td>{{ jsonDict["pm7"]["lumo"] }} eV</td>
            </tr>
            <!-- End Detailed Section -->


            <tr class="molecule-qr-code">
              <td>QR Code<sup><a href="#" data-container="body" data-toggle="tooltip" title="Generate a QR code for this molecule"><i class="fa fa-question"></i></a></sup></td>
              <td> <a href="#" data-toggle="modal" data-target="#qrcodemodal"> Generate QR Code </a></td>
            </tr>

            <tr class="molecule-data detailed">
              <td>JSON<sup><a href="#" data-container="body" data-toggle="tooltip" title="Get the data for this molecule in JSON format"><i class="fa fa-question"></i></a></sup></td>
              <td> <a href="{{ url_for('data', key=jsonDict[" inchikey "]) }}"> Get JSON data </a></td>
            </tr>
            <tr class="molecule-tags">
              <td> <i class="fa fa-tags"></i></td>
              <td>


                {% for i in jsonDict["tags"] %}
                <!--  <a href="#"> MAKE THEM CLICK TO THE SEARCH WHEN IMPLEMENTED-->
                <a href="/browse/{{i|urlencode}}">
                  <span class="label label-primary">{{ i }}</span>
                </a>
                <!-- </a> -->
                {% endfor %}

                <!-- <a href="#"><span class="label label-warning"><i class="fa fa-plus-square-o"></i></span></a> -->

              </td>
            </tr>




          </tbody>
        </table>

        <div class="panel-footer molecule-switchview block-center center-block text-center">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-primary" id="changeStyleSphere">Spheres</button>
            <button type="button" class="btn btn-primary" id="changeStyleLine">Lines</button>
            <button type="button" class="btn btn-primary" id="changeStyleStick">Sticks</button>
            <button type="button" class="btn btn-primary" id="changeStyleCross">Crosses</button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Properties Section -->



</div>
{%- endmacro %}
