/**
 *  Font Size Classes 6 levels to add to js for global font-adjustment
 *    font-# (1-6)
 *
 */
#material .cards {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.container {
  padding-left: 2px;
  padding-right: 2px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 992px) {
  .container {
    padding-left: 2px;
    padding-right: 2px;
  }
}
::-moz-selection {
  background: #9ad2d1;
  color: white;
}
::selection {
  background: #9ad2d1;
  color: white;
}
body nav .navbar-brand > img {
  margin-top: -10px;
  padding-left: 5px;
}
body .page-home #splash-search {
  margin-top: 10px;
}
body .page-home #splash-search #num-compounds {
  padding-top: 20px;
}
body .page-home #splash-search #num-compounds .number {
  color: #d9534f;
}
body .page-home .other-content .fa {
  color: #f16b1d;
}
body .page-home #molecule-viewer div,
body .page-home #molecule-viewer canvas {
  margin-top: 150px;
  height: 200px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  body .page-home #molecule-viewer div,
  body .page-home #molecule-viewer canvas {
    height: 250px;
  }
}
@media (min-width: 992px) {
  body .page-home #molecule-viewer div,
  body .page-home #molecule-viewer canvas {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  body .page-home #molecule-viewer div,
  body .page-home #molecule-viewer canvas {
    height: 400px;
  }
}
body .page-molecule h1#molecule-name {
  font-size: 23px;
  padding-left: 10px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  body .page-molecule h1#molecule-name {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  body .page-molecule h1#molecule-name {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  body .page-molecule h1#molecule-name {
    font-size: 36px;
  }
}
body .page-molecule h1#molecule-name .small {
  padding-top: 5px;
}
body .page-molecule #molecule-properties h2 {
  font-size: 21px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  body .page-molecule #molecule-properties h2 {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  body .page-molecule #molecule-properties h2 {
    font-size: 24px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  body .page-molecule #molecule-properties h2 {
    font-size: 28px;
  }
}
body .page-molecule #molecule-properties h2 .properties-view-options {
  font-size: 12px;
}
body .page-molecule #molecule-properties table tr td:first-of-type {
  font-weight: bold;
}
body .page-molecule #molecule-properties table tbody .molecule-qr-code img {
  max-width: 60%;
}
body .page-molecule #molecule-viewer div,
body .page-molecule #molecule-viewer canvas {
  height: 250px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  body .page-molecule #molecule-viewer div,
  body .page-molecule #molecule-viewer canvas {
    height: 350px;
  }
}
@media (min-width: 992px) {
  body .page-molecule #molecule-viewer div,
  body .page-molecule #molecule-viewer canvas {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  body .page-molecule #molecule-viewer div,
  body .page-molecule #molecule-viewer canvas {
    height: 500px;
  }
}
body .page-browse #splash-search {
  margin-top: 10px;
}
body .page-browse #splash-search #num-compounds {
  padding-top: 20px;
}
body .page-browse #splash-search #num-compounds .number {
  color: #d9534f;
}
body .page-browse #molecule-browser .molecule-viwer {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 30px;
}
body .page-browse #molecule-browser .molecule-viwer div,
body .page-browse #molecule-browser .molecule-viwer canvas {
  min-height: 200px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  body .page-browse #molecule-browser .molecule-viwer div,
  body .page-browse #molecule-browser .molecule-viwer canvas {
    min-height: 250px;
  }
}
@media (min-width: 992px) {
  body .page-browse #molecule-browser .molecule-viwer div,
  body .page-browse #molecule-browser .molecule-viwer canvas {
    min-height: 200px;
  }
}
@media (min-width: 1200px) {
  body .page-browse #molecule-browser .molecule-viwer div,
  body .page-browse #molecule-browser .molecule-viwer canvas {
    min-height: 300px;
  }
}
body .page-browse #molecule-browser .molecule-viwer table tr td:first-of-type {
  font-weight: bold;
}
body .page-browse #molecule-browser .molecule-viwer table tbody .molecule-qr-code img {
  max-width: 60%;
}
body .page-contact address {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 15px;
}
body footer {
  background-image: -webkit-linear-gradient(top, #5f9ea0 0%, #568e90 100%);
  background-image: -o-linear-gradient(top, #5f9ea0 0%, #568e90 100%);
  background-image: linear-gradient(to bottom, #5f9ea0 0%, #568e90 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f9ea0', endColorstr='#ff568e90', GradientType=0);
  padding-top: 40px;
  margin-top: 60px;
  color: white;
}
body footer .container-fluid {
  margin-left: 2%;
  margin-right: 2%;
}
body footer a {
  color: white;
  font-weight: bold;
}
body footer a:hover {
  color: white;
}
/*****GLOBAL ELEMENTS ****/
