{% extends "skeleton/base.html" %}

{% block header %}
     {% include 'skeleton/default_header.html' %}
{% endblock %}

{% block footer %}
     {% include 'skeleton/default_footer.html' %}
{% endblock %}

{% block title %}PQR | Browse{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block lazyScripts %}
     {{ super() }}
{% endblock %}


{% block content %}
<!-- QR CODE MODAL--> 
<div class="modal fade" id="qrcodemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">QR Code</h4>
      </div>
      <div class="modal-body">
        <div class="img-responsive center-block" id="qrcode"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- QR CODE MODAL --> 

<div class="container">
     <div class="row clearfix" id="splash-search">
          <div class="col-md-12">
               <div class="jumbotron text-center">
                    <h2>Pitt Quantum Repository</h2>
                    <p>Enter your molecule name, inCHI key, or &lt;any ID&gt; </p>
                    
                    <form id="splash-molecule-search" class="text-center form-inline" role="form">
                         <div class="input-group">
                              <input type="text" id="molec-query" class="form-control typeahead" autocomplete="off"  placeholder="Enter Query">
                              <span class="input-group-btn">
                                   <button class="btn btn-default molecule-query" type="submit">
                                        <i class="fa fa-search"></i>
                                   </button>
                              </span>
                         </div>
                    </form>

                    <!-- <p id="num-compounds"><strong>PQR currently includes <span class="number">55,000</span> compounds in <span class="number">25</span> categories!</strong></p> -->
               </div>
          </div>
     </div>

     <!-- Molecule Browser -->
     <div class="row clearfix" id="molecule-browser">
          {% import '/macros/molecules.html' as molecule %}

           <div class="alert alert-success row" role="alert">
           	<strong>Search Successful!</strong>
           		<samp>Num Pages Returned: {{num_pages}} 
           		Current Page {{active}}
           		Your Query: "{{query}}" </samp>
           	</div>
          


          {% if results %}
            {% for result in results %}
              {{molecule.resultMolecule(result) }}
            {% endfor %}
            
          
          <div class="text-center">
            <nav>
              <ul class="pagination">
              <!-- <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li> -->
              {% for i in range(1,num_pages+1)%}
              	{% if i == active %}
				<li class="active"><a href="/browse/{{query}}/{{i}}">{{i}}</a></li>
              	{% else %}
                <li><a href="/browse/{{query}}/{{i}}">{{i}}</a></li>

                {% endif %}
              {% endfor %}

              <!-- <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li> -->
              </ul>
            </nav>
          </div>

          {% else %}
            <div class="alert alert-warning row" role="alert">
                <div class="col-sm-2"> 
                  <p><i class="fa fa-exclamation-triangle fa-5x"></i></p>
                </div>

                <div class="col-sm-8"> 
                  <h2><strong> Your query returned 0 results! </strong></h2>
                </div>
            </div>
          {% endif %}



         
          

     </div>


</div>
{% endblock %}