<!-- -->
{% extends "skeleton/base.html" %}
<!-- -->
{% block header %} {% include 'skeleton/default_header.html' %} {% endblock %}
<!-- -->
{% block footer %} {% include 'skeleton/default_footer.html' %} {% endblock %}
<!-- -->
{% block title %}PQR | Browse{% endblock %}
<!-- -->
{% block head %} {{ super() }}
<!-- -->
{% endblock %}
<!-- -->
{% block lazyScripts %} {{ super() }} {% endblock %}
<!-- -->
{% block content %}
<!-- -->
{% import '/macros/molecules.html' as molecule %} 

<!-- QR CODE MODAL-->
<div class="modal fade" id="qrcodemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">QR Code</h4>
            </div>
            <div class="modal-body">
                <div class="img-responsive center-block" id="qrcode"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- QR CODE MODAL -->

<!-- Search Banner -->
<div>
    <div class="clearfix" id="splash-search">
        <div id='browse-banner'>
            <div class="jumbotron text-center row">
                <h2>Pitt Quantum Repository</h2> 
                {% import '/macros/forms.html' as forms %} {{ forms.banner_search('btn-default', 'molecule-search-group', query=query) }}
            </div>
        </div>
    </div>
</div>
<!-- /Search Banner -->

<div class="container">
    <!-- Molecule Browser -->
    <div class="row clearfix" id="molecule-browser">
        {% if not results %}

        <!-- Page Results -->
        <div class="row alert alert-success" role="alert">
            <div class="col-xs-12">
               <samp>Page {{active}} out of {{typenum_pages}}</samp>
            </div>
        </div>
        <!-- /Page Results -->


        <!-- Molecule Search Results -->
        {# 
            {% for result in results %} 
                {{ molecule.resultMolecule(result) }} 
            {% endfor %} 
        #}
        <!-- /Molecule Search Results -->

        <!-- Masonary Search Results -->
        <div class="clearfix"></div>
        <div class='row molecule-results-masonary translucent'> 
            <div class="grid text-center center-block">
                <div class="grid-sizer"></div>
                {% for n in range(15) %}
                    {{ molecule.resultMoleculeMasonary(n) }} 
                {% endfor %} 
            </div>
        </div>
        <!-- /Masonary Search Results  -->

        <!-- Simple Pagination  -->
        {% if active != -1 %}
            <div class="text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            {% if active == 1 %}
                                <a href="/browse/{{query}}/{{active}}" aria-label="Previous">
                            {% else %}
                                <a href="/browse/{{active-1}}/?query={{query}}&amp;type={{searchType}}" aria-label="Previous">
                            {% endif %}
                                    <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
                                </a>
                        </li>
                        <li>
                            {% if active == (num_pages) %}
                                <a href="/browse/{{active}}/?query={{query}}&amp;type={{searchType}}" aria-label="Next">
                            {% else %}
                                <a href="/browse/{{active+1}}/?query={{query}}&amp;type={{searchType}}" aria-label="Next">
                            {% endif %}
                                    <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
                                </a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        {% endif %} <!--  End if active != -1 -->
        <!-- /Simple Pagination  -->

        <!-- No Results Found  -->
        {% else %} 
            <div class="alert alert-warning row text-center" role="alert">
                <div class="col-sm-2">
                    <p><i class="fa fa-exclamation-triangle fa-5x"></i></p>
                </div>
                <div class="col-sm-8 ">
                    <h2>
                <strong> Your query returned 0 results! </strong>
              </h2>
                </div>
            </div>
        {% endif %}
        <!-- /No Results Found  -->


    </div>
    <!-- /Molecule Browser -->
</div>
{% endblock %}
