{% extends "skeleton/base.html" %}

{% block header %}
     {% include 'skeleton/default_header.html' %}
{% endblock %}

{% block footer %}
     {% include 'skeleton/default_footer.html' %}
{% endblock %}

{% block title %}PQR | Browse{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block lazyScripts %}
     {{ super() }}
{% endblock %}


{% block content %}
<!-- QR CODE MODAL--> 
<div class="modal fade" id="qrcodemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">QR Code</h4>
      </div>
      <div class="modal-body">
        <div class="img-responsive center-block" id="qrcode"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- QR CODE MODAL --> 

<div class="container">
     <div class="row clearfix" id="splash-search">
          <div class="col-md-12">
               <div class="jumbotron text-center">
                    <h2>Pitt Quantum Repository</h2>
                    <p>Enter your molecule name, inCHI key, or &lt;any ID&gt; </p>
                    
                    <form id="splash-molecule-search" class="text-center form-inline" role="form">
                         <div class="input-group">
                              <input type="text" id="molec-query" class="form-control typeahead" autocomplete="off"  placeholder="Enter Query">
                              <span class="input-group-btn">
                                   <button class="btn btn-default molecule-query" type="button">
                                        <i class="fa fa-search"></i>
                                   </button>
                              </span>
                         </div>
                    </form>

                    <p id="num-compounds"><strong>PQR currently includes <span class="number">55,000</span> compounds in <span class="number">25</span> categories!</strong></p>
               </div>
          </div>
     </div>

     <!-- Molecule Browser -->
     <div class="row clearfix" id="molecule-browser">
          {% import '/macros/molecules.html' as molecule %}
          
          {{ molecule.resultMolecule() }}
          {{ molecule.resultMolecule(style='sphere') }}
          {{ molecule.resultMolecule(style='line') }}
          {{ molecule.resultMolecule(style='cross') }}
          {{ molecule.resultMolecule() }}
          {{ molecule.resultMolecule() }}
          {{ molecule.resultMolecule() }}
     </div>


</div>
{% endblock %}