{% extends "skeleton/base.html" %}
<!-- -->
{% block header %} {% include 'skeleton/default_header.html' %} {% endblock %}
<!-- -->
{% block footer %} {% include 'skeleton/default_footer.html' %} {% endblock %}
<!-- -->
{% block title %}PQR | Contact{% endblock %}
<!-- -->
{% block head %} {{ super() }}
<!-- -->
{% endblock %}
<!-- -->
{% block lazyScripts %} {{ super() }} {% endblock %}
<!-- -->
{% block content %}
<div class="container">
     <section id="contact">
          <h2> Contact Information</h2>

          <div class="col-md-8">

               <form id="form-contact" role="form" method="POST" action="/contact/">
                    <h3> Send us a direct message! </h3>
                    
                    <section class="input-group">
                         <div class="input-wrapper">
                              <input id="name" name='name' class="input-field" type="text"  placeholder="John Doe" autocomplete="off"/>
                              <label class="input-label">
                                   <span class="input-label-content" data-content="Name"><i class="fa fa-user"></i></span>
                              </label>
                         </div>
                    </section>

                    <section class="input-group">
                         <div class="input-wrapper">
                              <input id="email" name='email' class="input-field" type="text"  placeholder="Enter your email" autocomplete="off"/>
                              <label class="input-label">
                                   <span class="input-label-content" data-content="Email"><i class="fa fa-envelope-o"></i></span>
                              </label>
                         </div>
                    </section>


                    <section class="input-group">
                         <div class="input-wrapper">
                              <input id="verify_email" name='verify_email' class="input-field" type="text"  placeholder="Verify your email" autocomplete="off"/>
                              <label class="input-label">
                                   <span class="input-label-content" data-content="Verify Email"><i class="fa fa-envelope-o"></i></span>
                              </label>
                         </div>
                    </section>

                    <section class="input-group">
                         <div class="input-wrapper">
                              <input id="subject" name='subject' class="input-field" type="text"  placeholder="Subject" autocomplete="off"/>
                              <label class="input-label">
                                   <span class="input-label-content" data-content="Subject"><i class="fa fa-lightbulb-o"></i></span>
                              </label>
                         </div>
                    </section>

                    <section class="input-group">
                         <div class="input-wrapper">
                              <textarea id="message" name="message" class="input-field" type="text"  placeholder="Message" autocomplete="off" /></textarea>
                              <label class="input-label">
                                   <span class="input-label-content" data-content="Message"><i class="fa fa-lightbulb-o"></i></span>
                              </label>
                         </div>
                    </section>

                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

                    <button class="btn btn-primary" id="submit">Submit</button>
               </form>



          </div>

          <div class="col-md-4" id="contact-list">
               <h3> Contacts </h3>

               <div class="contact-box">
                    <address>
                         Prof. Geoffrey R. Hutchison
                         <br/> Department of Chemistry
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:geoffh@pitt.edu">geoffh@pitt.edu</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://hutchison.chem.pitt.edu/people/prof-hutchison/" target="_blank">More Info</a>
                         <br/>
                    </address>

                    <address>
                         Prof. Daniel S. Lambrecht
                         <br/> Department of Chemistry
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:lambrecht@pitt.edu">lambrecht@pitt.edu</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://lambrecht.chem.pitt.edu" target="_blank">More Info</a>
                         <br/>
                    </address>

                    <address>
                         Ritwik Gupta
                         <br/> Application Developer
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:ritwikgupta@pitt.edu">ritwikgupta@pitt.edu</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://ritwikgupta.me/" target="_blank">More Info</a>
                         <br/>
                    </address>

                    <address>
                         Josh Rogan
                         <br/> Application Developer
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:JoshJRogan@gmail.com">JoshJRogan@gmail.com</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://joshuarogan.com/" target="_blank">More Info</a>
                         <br/>
                    </address>
               </div>
          </div>

     </section>
</div>
{% endblock %}
