{% extends "skeleton/base.html" %}
<!-- -->
{% block header %} {% include 'skeleton/default_header.html' %} {% endblock %}
<!-- -->
{% block footer %} {% include 'skeleton/default_footer.html' %} {% endblock %}
<!-- -->
{% block title %}PQR | Contact{% endblock %}
<!-- -->
{% block head %} {{ super() }}
<!-- -->
{% endblock %}
<!-- -->
{% block lazyScripts %} {{ super() }} {% endblock %}
<!-- -->
{% block content %}
<div class="container">
     <section id="contact">
          <h2> Contact Information</h2>

          <div class="col-md-8">

               <form id="form-contact" role="form" method="POST" action="/contact/">
                    <h3> Send us a direct message! </h3>

                    <div class="form-group">
                         <label for="name">Name</label>
                         <input type="text" class="form-control" id="name" name='name' placeholder="John Doe">
                    </div>

                    <div class="form-group">
                         <label for="email">Email address</label>
                         <input type="email" class="form-control" id="email" name='email' placeholder="Enter your email" >
                    </div>

                    <div class="form-group">
                         <label for="verify_email">Verify Email address</label>
                         <input type="email" class="form-control" id="verify_email" name='verify_email' placeholder="Enter your email" >
                    </div>

                    <div class="form-group">
                         <label for="subject">Subject</label>
                         <input type="text" class="form-control" id="subject" name='subject' placeholder="Subject" value="" >
                    </div>

                    <div class="form-group">
                         <textarea class="form-control" id="message" placeholder="Please enter your message here" rows="8" name='message'></textarea>
                    </div>
                    
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

                    <button class="btn btn-primary" id="submit">Submit</button>
               </form>



          </div>

          <div class="col-md-4" id="contact-list">
               <h3> Contacts </h3>

               <div class="contact-box">
                    <address>
                         Prof. Geoffrey R. Hutchison
                         <br/> Department of Chemistry
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:geoffh@pitt.edu">geoffh@pitt.edu</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://hutchison.chem.pitt.edu/people/prof-hutchison/" target="_blank">More Info</a>
                         <br/>
                    </address>

                    <address>
                         Prof. Daniel S. Lambrecht
                         <br/> Department of Chemistry
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:lambrecht@pitt.edu">lambrecht@pitt.edu</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://lambrecht.chem.pitt.edu" target="_blank">More Info</a>
                         <br/>
                    </address>

                    <address>
                         Ritwik Gupta
                         <br/> Application Developer
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:ritwikg2004@live.com">ritwikg2004@live.com</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://ritwikgupta.me/" target="_blank">More Info</a>
                         <br/>
                    </address>

                    <address>
                         Josh Rogan
                         <br/> Application Developer
                         <br/>
                         <i class="fa fa-envelope"></i> <a href="mailto:JoshJRogan@gmail.com">JoshJRogan@gmail.com</a>
                         <br/>
                         <i class="fa fa-globe"></i> <a href="http://joshuarogan.com/" target="_blank">More Info</a>
                         <br/>
                    </address>
               </div>
          </div>

     </section>
</div>
{% endblock %}
