{% extends "skeleton/base.html" %}
{% block header %}
    {% include 'skeleton/default_header.html' %}
{% endblock %}

{% block footer %}
    {% include 'skeleton/default_footer.html' %}
{% endblock %}

{% block title %}PQR | Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block lazyScripts %}
    {{ super() }}
{% endblock %}

{% block content %}
<div id='home-banner'>
    <div class="row" id="splash-search">
        <div class="jumbotron text-center">
            <h2>Welcome to Pitt Quantum Repository!</h2>
            <p>Search for <span class='font-red'>{{ "{:,}".format(amount_mol) }}</span> molecules by name, InChIKey, category, etc. </p>
                {% import '/macros/forms.html' as forms %} {{ forms.banner_search_auto_complete() }}
            



        </div>
    </div>
</div>
<div class="container">
    <div id="molecule-of-the-week" class="row">
        <div class="col-md-6">
            <a href="/motw"><h2> Molecule of the Week </h2></a>
            <p> Click the molecule name to get more information. </p>
            <h3> <a href="/mol/{{ week_mol[3:] }}"> {{ week_mol_name }} </a> 
               <span class='pull-right'>
                    <a href='#' id="rotationSwitch" data-container="body" data-toggle="tooltip" title="Toggle Molecule Rotation"><i class="fa fa-toggle-off"></i></a>
                    <a href='#' id='reset-molecule' data-container="body" data-toggle="tooltip" title="Reset Zoom"><i class="fa fa-crosshairs"></i></a>
               </span>

               </h3>
            <div id="molecule-viewer">
                {% import '/macros/molecules.html' as molecule %} {{ molecule.simpleViewer(week_mol) }}
            </div>
        </div>
        <div class="col-md-6">
            <h2> News </h2>
            <div class="list-group other-content the-news">
                {% for article in new_articles %}
                    <a href="/news/{{article[0]}}" target="_blank" class="list-group-item"><span class="badge background-primary">New</span><i class="fa fa-newspaper-o"></i> {{article[1]|title}}</a> 
                {% endfor %}

                {% for article in articles %}
                    <a href="/news/{{article[0]}}" target="_blank" class="list-group-item"><i class="fa fa-newspaper-o"></i> {{article[1]|title}}</a> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
