{% extends "skeleton/base.html" %}
<!-- -->
{% block header %} {% include 'skeleton/default_header.html' %} {% endblock %}
<!-- -->
{% block footer %} {% include 'skeleton/default_footer.html' %} {% endblock %}
<!-- -->
{% block title %}PQR | Molecules of the Week{% endblock %}
<!-- -->
{% block head %} {{ super() }}
<!-- -->
{% endblock %}
<!-- -->
{% block lazyScripts %} {{ super() }} {% endblock %} {% block content %}
<div class="container">

    <div class='row'>
    <h1> Previous Molecules of the Week </h1>
	    <div class='table-responsive'>
	        <table class='table table-striped'>
	        	<tr> 
	        		<th> Molecule </th>
	        		<th> InChIKey </th>
	        	</tr>
	            {% for molecule in week_molecules %}
	            	<tr>
	            		<td><a href='/mol/{{molecule[0]}}'>{{ molecule[1] }}</a></td>
	            		<td>{{ molecule[0] }}</td>
	            	</tr>
	            {% endfor %}
	        </table>
	    </div>
    </div>
</div>
{% endblock %}