{% extends "skeleton/base.html" %} 
{% block header %} 
{% include 'skeleton/default_header.html' %} 
{% endblock %} 
{% block footer %} 
{% include 'skeleton/default_footer.html' %} 
{% endblock %} 
{% block title %}PQR | News{% endblock %} 
{% block head %} {{ super() }} {% endblock %} 
{% block lazyScripts %} {{ super() }} {% endblock %} 
{% block content %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <h1> PQR in the News </h1>
        <!-- Blog Post Content Column -->
        <div class="col-xs-12">
            {{ output }}
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->
{% endblock %}
